<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Picture Bed Upload Demo</title>
    <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <input class="file" name="file" type="file" accept="image/png,image/gif,image/jpeg" @change="handleUpload" />
        <div v-if="upload">
            <p>URL:</p>
            <p v-for="l in upload.urls"><a target="_blank" :href="l">{{l}}</a></p>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                upload: null
            },
            methods: {
                handleUpload(e) {
                    let file = e.target.files[0];
                    let param = new FormData();

                    if (file.size > 1024 * 1024) return;
                    param.append('file', file);
                    axios.post('/', param, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(rsp => {
                        this.upload = rsp.data.data;
                    })
                }
            }
        })
    </script>
</body>

</html>